# Limpieza de datos de hospitalizaciones 2021

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df21 = pd.read_csv("1-2021.csv", delimiter= ";", encoding = "latin1")
df21.columns = df21.columns.str.strip()

In [3]:
# Mostrar los nombres de columnas para verificar
print("Columnas de df21:", df21.columns)

Columnas de df21: Index(['Diagnóstico principal (CIE10MC)', 'Total Nacional',
       'Comunidades y Ciudades Autónomas', 'Provincias', 'Sexo', 'Total'],
      dtype='object')

In [4]:
df21.head(10)

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Provincias,Sexo,Total
0,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Ambos sexos,37.449
1,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Hombres,23.840
2,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Mujeres,13.609
3,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,11 Cádiz,Ambos sexos,47.372
4,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,11 Cádiz,Hombres,28.573
5,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,11 Cádiz,Mujeres,18.799
6,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,14 Córdoba,Ambos sexos,33.560
7,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,14 Córdoba,Hombres,20.559
8,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,14 Córdoba,Mujeres,13.001
9,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,18 Granada,Ambos sexos,60.372

In [5]:
df21.dtypes

Diagnóstico principal (CIE10MC)      object
Total Nacional                       object
Comunidades y Ciudades Autónomas     object
Provincias                           object
Sexo                                 object
Total                               float64
dtype: object

In [6]:
# LIMPIEZA COLUMNA TOTAL
df21['Total'] = pd.to_numeric(df21['Total'].astype(str).str.replace('.', '', regex=False), errors='coerce').fillna(0).astype(int)

In [7]:
df21['Total'] = df21['Total'].apply(lambda x: str(x).replace('.', '') if pd.notnull(x) else '0').astype(int)

In [8]:

df21['Total'] = df21['Total'].replace('', '0').astype(str).str.replace('.', '', regex=False).astype(int)

In [9]:
df21.dtypes

Diagnóstico principal (CIE10MC)     object
Total Nacional                      object
Comunidades y Ciudades Autónomas    object
Provincias                          object
Sexo                                object
Total                                int64
dtype: object

In [10]:
df21.head()

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Provincias,Sexo,Total
0,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Ambos sexos,37449
1,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Hombres,2384
2,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Mujeres,13609
3,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,11 Cádiz,Ambos sexos,47372
4,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,11 Cádiz,Hombres,28573

In [11]:
df21 = df21.reset_index()

In [12]:
df21.drop('index', axis=1, inplace=True)

In [13]:
df21['Total'].isnull().sum()

0

In [14]:
df21['Comunidades y Ciudades Autónomas'] = df21['Comunidades y Ciudades Autónomas'].fillna('')
df21['Provincias'] = df21['Provincias'].fillna('')

In [15]:
df21['Combinada'] = df21['Comunidades y Ciudades Autónomas'].str.cat(df21['Provincias'], sep=' ')

In [16]:
df21.head(1)

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Provincias,Sexo,Total,Combinada
0,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Ambos sexos,37449,01 Andalucía 04 Almería

In [17]:
df21 = df21[df21.columns[[0,4,5,6]]]

In [18]:
df21

,Diagnóstico principal (CIE10MC),Sexo,Total,Combinada
0,0106 COVID-19 U07.1,Ambos sexos,37449,01 Andalucía 04 Almería
1,0106 COVID-19 U07.1,Hombres,2384,01 Andalucía 04 Almería
2,0106 COVID-19 U07.1,Mujeres,13609,01 Andalucía 04 Almería
3,0106 COVID-19 U07.1,Ambos sexos,47372,01 Andalucía 11 Cádiz
4,0106 COVID-19 U07.1,Hombres,28573,01 Andalucía 11 Cádiz
...,...,...,...,...
1711,1008 Otras enfermedades del sistema respirator...,Hombres,8090,18 Ceuta
1712,1008 Otras enfermedades del sistema respirator...,Mujeres,6700,18 Ceuta
1713,1008 Otras enfermedades del sistema respirator...,Ambos sexos,1011,19 Melilla
1714,1008 Otras enfermedades del sistema respirator...,Hombres,5380,19 Melilla
1715,1008 Otras enfermedades del sistema respirator...,Mujeres,4730,19 Melilla

In [19]:
df21['Combinada'].unique()

array(['01 Andalucía 04 Almería', '01 Andalucía 11 Cádiz',
       '01 Andalucía 14 Córdoba', '01 Andalucía 18 Granada',
       '01 Andalucía 21 Huelva', '01 Andalucía 23 Jaén',
       '01 Andalucía 29 Málaga', '01 Andalucía 41 Sevilla',
       '02 Aragón 22 Huesca', '02 Aragón 44 Teruel',
       '02 Aragón 50 Zaragoza', '03 Asturias, Principado de ',
       '04 Balears, Illes ', '05 Canarias 35 Palmas, Las',
       '05 Canarias 38 Santa Cruz de Tenerife', '06 Cantabria ',
       '07 Castilla y León 05 Ávila', '07 Castilla y León 09 Burgos',
       '07 Castilla y León 24 León', '07 Castilla y León 34 Palencia',
       '07 Castilla y León 37 Salamanca', '07 Castilla y León 40 Segovia',
       '07 Castilla y León 42 Soria', '07 Castilla y León 47 Valladolid',
       '07 Castilla y León 49 Zamora',
       '08 Castilla - La Mancha 02 Albacete',
       '08 Castilla - La Mancha 13 Ciudad Real',
       '08 Castilla - La Mancha 16 Cuenca',
       '08 Castilla - La Mancha 19 Guadalajara',
       '08 Castilla - La Mancha 45 Toledo', '09 Cataluña 08 Barcelona',
       '09 Cataluña 17 Girona', '09 Cataluña 25 Lleida',
       '09 Cataluña 43 Tarragona',
       '10 Comunitat Valenciana 03 Alicante/Alacant',
       '10 Comunitat Valenciana 12 Castellón/Castelló',
       '10 Comunitat Valenciana 46 Valencia/València',
       '11 Extremadura 06 Badajoz', '11 Extremadura 10 Cáceres',
       '12 Galicia 15 Coruña, A', '12 Galicia 27 Lugo',
       '12 Galicia 32 Ourense', '12 Galicia 36 Pontevedra',
       '13 Madrid, Comunidad de ', '14 Murcia, Región de ',
       '15 Navarra, Comunidad Foral de ', '16 País Vasco 01 Araba/Álava',
       '16 País Vasco 48 Bizkaia', '16 País Vasco 20 Gipuzkoa',
       '17 Rioja, La ', '18 Ceuta ', '19 Melilla '], dtype=object)

In [20]:
# RENOMBRADO DE COLUMNAS
df21.rename(
    columns = {'Combinada': 'Provincia',
              'Diagnóstico principal (CIE10MC)': 'Diagnóstico',
              'Total': 'Hospitalizaciones'},
    inplace = True
)

In [21]:
df21 = df21[['Diagnóstico', 'Provincia', 'Sexo', 'Hospitalizaciones']]

In [22]:
mapeo_combinada = {
    '01 Andalucía 04 Almería': 'Almería',
    '01 Andalucía 11 Cádiz': 'Cádiz',
    '01 Andalucía 14 Córdoba': 'Córdoba',
    '01 Andalucía 18 Granada': "Granada",
    '01 Andalucía 21 Huelva': 'Huelva',
    '01 Andalucía 23 Jaén': 'Jaén',
    '01 Andalucía 29 Málaga': 'Málaga',
    '01 Andalucía 41 Sevilla': 'Sevilla',
    '02 Aragón 22 Huesca': 'Huesca',
    '02 Aragón 44 Teruel': 'Teruel',
    '02 Aragón 50 Zaragoza': 'Zaragoza',
    '03 Asturias, Principado de ': 'Asturias',
    '04 Balears, Illes ': 'Islas Baleares',
    '05 Canarias 35 Palmas, Las': 'Las Palmas',
    '05 Canarias 38 Santa Cruz de Tenerife': 'Santa Cruz de Tenerife',
    '06 Cantabria ': 'Cantabria',
    '07 Castilla y León 05 Ávila': 'Ávila',
    '07 Castilla y León 09 Burgos': 'Burgos',
    '07 Castilla y León 24 León': 'León',
    '07 Castilla y León 34 Palencia': 'Palencia',
    '07 Castilla y León 37 Salamanca': 'Salamanca',
    '07 Castilla y León 40 Segovia': 'Segovia',
    '07 Castilla y León 42 Soria': 'Soria',
    '07 Castilla y León 47 Valladolid': 'Valladolid',
    '07 Castilla y León 49 Zamora': 'Zamora',
    '08 Castilla - La Mancha 02 Albacete': 'Albacete',
    '08 Castilla - La Mancha 13 Ciudad Real': 'Ciudad Real',
    '08 Castilla - La Mancha 16 Cuenca': 'Cuenca',
    '08 Castilla - La Mancha 19 Guadalajara': 'Guadalajara',
    '08 Castilla - La Mancha 45 Toledo': 'Toledo',
    '09 Cataluña 08 Barcelona': 'Barcelona',
    '09 Cataluña 17 Girona': 'Girona',
    '09 Cataluña 25 Lleida': 'Lleida',
    '09 Cataluña 43 Tarragona': 'Tarragona',
    '10 Comunitat Valenciana 03 Alicante/Alacant': 'Alicante',
    '10 Comunitat Valenciana 12 Castellón/Castelló': 'Castellón',
    '10 Comunitat Valenciana 46 Valencia/València': 'Valencia',
    '11 Extremadura 06 Badajoz': 'Badajoz',
    '11 Extremadura 10 Cáceres': 'Cáceres',
    '12 Galicia 15 Coruña, A': 'A Coruña',
    '12 Galicia 27 Lugo': 'Lugo',
    '12 Galicia 32 Ourense': 'Ourense',
    '12 Galicia 36 Pontevedra': 'Pontevedra',
    '13 Madrid, Comunidad de ': 'Madrid',
    '14 Murcia, Región de ': 'Murcia',
    '15 Navarra, Comunidad Foral de ': 'Navarra',
    '16 País Vasco 01 Araba/Álava': 'Álava',
    '16 País Vasco 48 Bizkaia': 'Bizkaia',
    '16 País Vasco 20 Gipuzkoa': 'Gipuzkoa',
    '17 Rioja, La ': 'La Rioja',
    '18 Ceuta ': 'Ceuta',
    '19 Melilla ': 'Melilla'
}

df21['Provincia'] = df21['Provincia'].map(mapeo_combinada)

In [23]:
# Crear un filtro para seleccionar filas donde "Provincia" es NaN
filtro = df21['Provincia'].isna()

# Aplicar el filtro para obtener solo las filas donde "Provincia" es NaN
df21_nan_provincia = df21.loc[filtro]

# Mostrar el resultado
df21_nan_provincia

Empty DataFrame
Columns: [Diagnóstico, Provincia, Sexo, Hospitalizaciones]
Index: []

In [24]:
df21=df21.dropna()

In [25]:
df21["Provincia"].isna().sum()

0

In [26]:
df21.head(3)

           Diagnóstico Provincia         Sexo  Hospitalizaciones
0  0106 COVID-19 U07.1   Almería  Ambos sexos              37449
1  0106 COVID-19 U07.1   Almería      Hombres               2384
2  0106 COVID-19 U07.1   Almería      Mujeres              13609

In [27]:
# CREACIÓN DE OTRA COLUMNA PROVINCIA ID
columna_duplicada = df21['Provincia']
if 'ColumnaDuplicada' in df21.columns:
    df21.drop(columns=['ColumnaDuplicada'], inplace=True)
df21.insert(2, 'ColumnaDuplicada', columna_duplicada)

In [28]:
df21.rename(
    columns = {'ColumnaDuplicada': 'Provincia_ID'},
    inplace = True
)

In [29]:
mapeo_provincias = {
    "Álava": 1,
    "Albacete": 2,
    "Alicante": 3,
    "Almería": 4,
    "Ávila": 5,
    "Badajoz": 6,
    "Islas Baleares": 7,
    "Barcelona": 8,
    "Burgos": 9,
    "Cáceres": 10,
    "Cádiz": 11,
    "Castellón": 12,
    "Ciudad Real": 13,
    "Córdoba": 14,
    "A Coruña": 15,
    "Cuenca": 16,
    "Girona": 17,
    "Granada": 18,
    "Guadalajara": 19,
    "Gipuzkoa": 20,
    "Huelva": 21,
    "Huesca": 22,
    "Jaén": 23,
    "León": 24,
    "Lleida": 25,
    "La Rioja": 26,
    "Lugo": 27,
    "Madrid": 28,
    "Málaga": 29,
    "Murcia": 30,
    "Navarra": 31,
    "Ourense": 32,
    "Asturias": 33,
    "Palencia": 34,
    "Las Palmas": 35,
    "Pontevedra": 36,
    "Salamanca": 37,
    "Santa Cruz de Tenerife": 38,
    "Cantabria": 39,
    "Segovia": 40,
    "Sevilla": 41,
    "Soria": 42,
    "Tarragona": 43,
    "Teruel": 44,
    "Toledo": 45,
    "Valencia": 46,
    "Valladolid": 47,
    "Bizkaia": 48,
    "Zamora": 49,
    "Zaragoza": 50,
    "Ceuta": 51,
    "Melilla": 52
}

df21['Provincia_ID'] = df21['Provincia_ID'].map(mapeo_provincias)

In [30]:
df21.head()

           Diagnóstico Provincia  Provincia_ID         Sexo  Hospitalizaciones
0  0106 COVID-19 U07.1   Almería             4  Ambos sexos              37449
1  0106 COVID-19 U07.1   Almería             4      Hombres               2384
2  0106 COVID-19 U07.1   Almería             4      Mujeres              13609
3  0106 COVID-19 U07.1     Cádiz            11  Ambos sexos              47372
4  0106 COVID-19 U07.1     Cádiz            11      Hombres              28573

In [31]:
df21['Provincia_ID'].isna().sum()

0

In [32]:
df21['Provincia_ID']

0        4
1        4
2        4
3       11
4       11
        ..
1711    51
1712    51
1713    52
1714    52
1715    52
Name: Provincia_ID, Length: 1716, dtype: int64

In [33]:
df21['Diagnóstico'].unique()

array(['0106 COVID-19 U07.1',
       '0202 Neoplasias malignas de tráquea, bronquios y pulmón  C33-C34',
       '0905 Enfermedades de la circulación pulmonar I26-I28',
       '1001 Infecciones agudas de las vías respiratorias superiores y gripe J00-J11',
       '1002 Neumonía J12-J18',
       '1003 Bronquitis y bronquiolitis agudas J20-J22',
       '1004 Enfermedad crónica de amígdalas y adenoides J35',
       '1005 Otras enfermedades del tracto respiratorio superior J30-J34, J36-J39',
       '1006 Enfermedad pulmonar obstructiva crónica y bronquiectasias J40-J44, J47',
       '1007 Asma J45',
       '1008 Otras enfermedades del sistema respiratorio J60-J99'],
      dtype=object)

In [34]:
mapeo_diagnostico = {
    '0106 COVID-19 U07.1':'COVID-19',
    '0202 Neoplasias malignas de tráquea, bronquios y pulmón  C33-C34': 'Neoplasia maligna de tráquea, bronquios y pulmón',
    '0905 Enfermedades de la circulación pulmonar I26-I28': 'Enfermedades de la circulación pulmonar',
    '1001 Infecciones agudas de las vías respiratorias superiores y gripe J00-J11': 'Infecciones/enfermedades de las vías respiratorias superiores y gripe',
    '1002 Neumonía J12-J18': 'Neumonía',
    '1003 Bronquitis y bronquiolitis agudas J20-J22': 'Otras infecciones de las vias respiratorias inferiores',
    '1004 Enfermedad crónica de amígdalas y adenoides J35': 'Enfermedad crónica de amígdalas',
    '1005 Otras enfermedades del tracto respiratorio superior J30-J34, J36-J39': 'Infecciones/enfermedades de las vías respiratorias superiores y gripe',
    '1006 Enfermedad pulmonar obstructiva crónica y bronquiectasias J40-J44, J47': 'EPOC y bronquitis',
    '1007 Asma J45': 'Asma',
    '1008 Otras enfermedades del sistema respiratorio J60-J99': 'Neumoconiosis, enfermedades pulmonares por agentes externos y otras'
}

df21['Diagnóstico'] = df21['Diagnóstico'].map(mapeo_diagnostico)

In [35]:
df21.insert(0, 'Año', 2021)

In [36]:
columna_duplicada = df21['Diagnóstico']
if 'ColumnaDuplicada' in df21.columns:
    df21.drop(columns=['ColumnaDuplicada'], inplace=True)
df21.insert(2, 'ColumnaDuplicada', columna_duplicada)

In [37]:
df21.rename(
    columns = 
    {'ColumnaDuplicada': 'Diagnóstico_ID'
},
inplace = True)

In [38]:
df21['Diagnóstico'].unique()

array(['COVID-19', 'Neoplasia maligna de tráquea, bronquios y pulmón',
       'Enfermedades de la circulación pulmonar',
       'Infecciones/enfermedades de las vías respiratorias superiores y gripe',
       'Neumonía',
       'Otras infecciones de las vias respiratorias inferiores',
       'Enfermedad crónica de amígdalas', 'EPOC y bronquitis', 'Asma',
       'Neumoconiosis, enfermedades pulmonares por agentes externos y otras'],
      dtype=object)

In [39]:
mapeo_diagnostico = {
    'Neoplasia maligna de tráquea, bronquios y pulmón': 1,
    'Enfermedades de la circulación pulmonar':2,
    'Enfermedad crónica de amígdalas': 3,
    'Neumonía': 4,
    'Asma': 5,
    'EPOC y bronquitis': 6,
    'Infecciones/enfermedades de las vías respiratorias superiores y gripe': 7,
    'Otras infecciones de las vias respiratorias inferiores': 8,
    'Neumoconiosis, enfermedades pulmonares por agentes externos y otras': 9,
    'COVID-19':10
}

df21['Diagnóstico_ID'] = df21['Diagnóstico_ID'].map(mapeo_diagnostico)

In [40]:
df21

,Año,Diagnóstico,Diagnóstico_ID,Provincia,Provincia_ID,Sexo,Hospitalizaciones
0,2021,COVID-19,10,Almería,4,Ambos sexos,37449
1,2021,COVID-19,10,Almería,4,Hombres,2384
2,2021,COVID-19,10,Almería,4,Mujeres,13609
3,2021,COVID-19,10,Cádiz,11,Ambos sexos,47372
4,2021,COVID-19,10,Cádiz,11,Hombres,28573
...,...,...,...,...,...,...,...
1711,2021,"Neumoconiosis, enfermedades pulmonares por age...",9,Ceuta,51,Hombres,8090
1712,2021,"Neumoconiosis, enfermedades pulmonares por age...",9,Ceuta,51,Mujeres,6700
1713,2021,"Neumoconiosis, enfermedades pulmonares por age...",9,Melilla,52,Ambos sexos,1011
1714,2021,"Neumoconiosis, enfermedades pulmonares por age...",9,Melilla,52,Hombres,5380
1715,2021,"Neumoconiosis, enfermedades pulmonares por age...",9,Melilla,52,Mujeres,4730

In [41]:
# Función para quitar el último dígito de un número entero:
def quitar_ultimo_digito(x):
    return x // 10

In [42]:
# Lista de índices de las celdas específicas a modificar:
indices = [1711, 1712, 1714, 1715]

In [43]:
df21.loc[indices, 'Hospitalizaciones'] = df21.loc[indices, 'Hospitalizaciones'].astype(str).str[:-1].astype(int)

In [44]:
df21.tail()

,Año,Diagnóstico,Diagnóstico_ID,Provincia,Provincia_ID,Sexo,Hospitalizaciones
1711,2021,"Neumoconiosis, enfermedades pulmonares por age...",9,Ceuta,51,Hombres,809
1712,2021,"Neumoconiosis, enfermedades pulmonares por age...",9,Ceuta,51,Mujeres,670
1713,2021,"Neumoconiosis, enfermedades pulmonares por age...",9,Melilla,52,Ambos sexos,1011
1714,2021,"Neumoconiosis, enfermedades pulmonares por age...",9,Melilla,52,Hombres,538
1715,2021,"Neumoconiosis, enfermedades pulmonares por age...",9,Melilla,52,Mujeres,473

In [45]:
df21 = df21[df21['Sexo'] != 'Ambos sexos']

In [46]:
df21 = df21.reset_index()

In [47]:
df21.drop('index', axis=1, inplace=True)

In [48]:
df21 = df21.groupby(['Diagnóstico_ID','Año','Diagnóstico','Sexo','Provincia','Provincia_ID'])['Hospitalizaciones'].sum().reset_index()

In [50]:
df21.to_csv("df21.csv", index=False, encoding="iso-8859-1")