# Limpieza de datos de hospitalizaciones 2017

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df17 = pd.read_csv("1-2017.csv", delimiter= ";", encoding = "latin1")
df17.columns = df17.columns.str.strip()

In [8]:
# Mostrar los nombres de columnas para verificar
print("Columnas de df17:", df17.columns)

Columnas de df17: Index(['Diagnóstico principal (CIE10MC)', 'Total Nacional',
       'Comunidades y Ciudades Autónomas', 'Provincias', 'Sexo', 'Total'],
      dtype='object')

In [10]:
df17.dtypes

Diagnóstico principal (CIE10MC)      object
Total Nacional                       object
Comunidades y Ciudades Autónomas     object
Provincias                           object
Sexo                                 object
Total                               float64
dtype: object

In [12]:
# LIMPIEZA COLUMNA TOTAL
df17['Total'] = pd.to_numeric(df17['Total'].astype(str).str.replace('.', '', regex=False), errors='coerce').fillna(0).astype(int)

In [14]:
df17['Total'] = df17['Total'].apply(lambda x: str(x).replace('.', '') if pd.notnull(x) else '0').astype(int)

In [16]:

df17['Total'] = df17['Total'].replace('', '0').astype(str).str.replace('.', '', regex=False).astype(int)

In [18]:
df17.dtypes

Diagnóstico principal (CIE10MC)     object
Total Nacional                      object
Comunidades y Ciudades Autónomas    object
Provincias                          object
Sexo                                object
Total                                int32
dtype: object

In [20]:
df17.head()

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Provincias,Sexo,Total
0,"0202 Neoplasias malignas de tráquea, bronquios...",Total Nacional,01 Andalucía,04 Almería,Ambos sexos,3698
1,"0202 Neoplasias malignas de tráquea, bronquios...",Total Nacional,01 Andalucía,04 Almería,Hombres,2928
2,"0202 Neoplasias malignas de tráquea, bronquios...",Total Nacional,01 Andalucía,04 Almería,Mujeres,7700
3,"0202 Neoplasias malignas de tráquea, bronquios...",Total Nacional,01 Andalucía,11 Cádiz,Ambos sexos,7232
4,"0202 Neoplasias malignas de tráquea, bronquios...",Total Nacional,01 Andalucía,11 Cádiz,Hombres,5545

In [22]:
df17['Total'].isnull().sum()

0

In [24]:
df17['Comunidades y Ciudades Autónomas'] = df17['Comunidades y Ciudades Autónomas'].fillna('')
df17['Provincias'] = df17['Provincias'].fillna('')

In [26]:
df17['Combinada'] = df17['Comunidades y Ciudades Autónomas'].str.cat(df17['Provincias'], sep=' ')

In [28]:
df17.head(1)

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Provincias,Sexo,Total,Combinada
0,"0202 Neoplasias malignas de tráquea, bronquios...",Total Nacional,01 Andalucía,04 Almería,Ambos sexos,3698,01 Andalucía 04 Almería

In [30]:
df17 = df17[df17.columns[[0,4,5,6]]]

In [32]:
df17

,Diagnóstico principal (CIE10MC),Sexo,Total,Combinada
0,"0202 Neoplasias malignas de tráquea, bronquios...",Ambos sexos,3698,01 Andalucía 04 Almería
1,"0202 Neoplasias malignas de tráquea, bronquios...",Hombres,2928,01 Andalucía 04 Almería
2,"0202 Neoplasias malignas de tráquea, bronquios...",Mujeres,7700,01 Andalucía 04 Almería
3,"0202 Neoplasias malignas de tráquea, bronquios...",Ambos sexos,7232,01 Andalucía 11 Cádiz
4,"0202 Neoplasias malignas de tráquea, bronquios...",Hombres,5545,01 Andalucía 11 Cádiz
...,...,...,...,...
1555,1008 Otras enfermedades del aparato respirator...,Hombres,4890,18 Ceuta
1556,1008 Otras enfermedades del aparato respirator...,Mujeres,5100,18 Ceuta
1557,1008 Otras enfermedades del aparato respirator...,Ambos sexos,2341,19 Melilla
1558,1008 Otras enfermedades del aparato respirator...,Hombres,1192,19 Melilla
1559,1008 Otras enfermedades del aparato respirator...,Mujeres,1149,19 Melilla

In [34]:
df17['Combinada'].unique()

array(['01 Andalucía 04 Almería', '01 Andalucía 11 Cádiz',
       '01 Andalucía 14 Córdoba', '01 Andalucía 18 Granada',
       '01 Andalucía 21 Huelva', '01 Andalucía 23 Jaén',
       '01 Andalucía 29 Málaga', '01 Andalucía 41 Sevilla',
       '02 Aragón 22 Huesca', '02 Aragón 44 Teruel',
       '02 Aragón 50 Zaragoza', '03 Asturias, Principado de ',
       '04 Balears, Illes ', '05 Canarias 35 Palmas, Las',
       '05 Canarias 38 Santa Cruz de Tenerife', '06 Cantabria ',
       '07 Castilla y León 05 Ávila', '07 Castilla y León 09 Burgos',
       '07 Castilla y León 24 León', '07 Castilla y León 34 Palencia',
       '07 Castilla y León 37 Salamanca', '07 Castilla y León 40 Segovia',
       '07 Castilla y León 42 Soria', '07 Castilla y León 47 Valladolid',
       '07 Castilla y León 49 Zamora',
       '08 Castilla - La Mancha 02 Albacete',
       '08 Castilla - La Mancha 13 Ciudad Real',
       '08 Castilla - La Mancha 16 Cuenca',
       '08 Castilla - La Mancha 19 Guadalajara',
       '08 Castilla - La Mancha 45 Toledo', '09 Cataluña 08 Barcelona',
       '09 Cataluña 17 Girona', '09 Cataluña 25 Lleida',
       '09 Cataluña 43 Tarragona',
       '10 Comunitat Valenciana 03 Alicante/Alacant',
       '10 Comunitat Valenciana 12 Castellón/Castelló',
       '10 Comunitat Valenciana 46 Valencia/València',
       '11 Extremadura 06 Badajoz', '11 Extremadura 10 Cáceres',
       '12 Galicia 15 Coruña, A', '12 Galicia 27 Lugo',
       '12 Galicia 32 Ourense', '12 Galicia 36 Pontevedra',
       '13 Madrid, Comunidad de ', '14 Murcia, Región de ',
       '15 Navarra, Comunidad Foral de ', '16 País Vasco 01 Araba/Álava',
       '16 País Vasco 48 Bizkaia', '16 País Vasco 20 Gipuzkoa',
       '17 Rioja, La ', '18 Ceuta ', '19 Melilla '], dtype=object)

In [36]:
# RENOMBRADO DE COLUMNAS
df17.rename(
    columns = {'Combinada': 'Provincia',
              'Diagnóstico principal (CIE10MC)': 'Diagnóstico',
              'Total': 'Hospitalizaciones'},
    inplace = True
)

In [38]:
df17 = df17[['Diagnóstico', 'Provincia', 'Sexo', 'Hospitalizaciones']]

In [40]:
mapeo_combinada = {
    '01 Andalucía 04 Almería': 'Almería',
    '01 Andalucía 11 Cádiz': 'Cádiz',
    '01 Andalucía 14 Córdoba': 'Córdoba',
    '01 Andalucía 18 Granada': "Granada",
    '01 Andalucía 21 Huelva': 'Huelva',
    '01 Andalucía 23 Jaén': 'Jaén',
    '01 Andalucía 29 Málaga': 'Málaga',
    '01 Andalucía 41 Sevilla': 'Sevilla',
    '02 Aragón 22 Huesca': 'Huesca',
    '02 Aragón 44 Teruel': 'Teruel',
    '02 Aragón 50 Zaragoza': 'Zaragoza',
    '03 Asturias, Principado de ': 'Asturias',
    '04 Balears, Illes ': 'Islas Baleares',
    '05 Canarias 35 Palmas, Las': 'Islas Canarias',
    '05 Canarias 38 Santa Cruz de Tenerife': 'Islas Canarias',
    '06 Cantabria ': 'Cantabria',
    '07 Castilla y León 05 Ávila': 'Ávila',
    '07 Castilla y León 09 Burgos': 'Burgos',
    '07 Castilla y León 24 León': 'León',
    '07 Castilla y León 34 Palencia': 'Palencia',
    '07 Castilla y León 37 Salamanca': 'Salamanca',
    '07 Castilla y León 40 Segovia': 'Segovia',
    '07 Castilla y León 42 Soria': 'Soria',
    '07 Castilla y León 47 Valladolid': 'Valladolid',
    '07 Castilla y León 49 Zamora': 'Zamora',
    '08 Castilla - La Mancha 02 Albacete': 'Albacete',
    '08 Castilla - La Mancha 13 Ciudad Real': 'Ciudad Real',
    '08 Castilla - La Mancha 16 Cuenca': 'Cuenca',
    '08 Castilla - La Mancha 19 Guadalajara': 'Guadalajara',
    '08 Castilla - La Mancha 45 Toledo': 'Toledo',
    '09 Cataluña 08 Barcelona': 'Barcelona',
    '09 Cataluña 17 Girona': 'Girona',
    '09 Cataluña 25 Lleida': 'Lleida',
    '09 Cataluña 43 Tarragona': 'Tarragona',
    '10 Comunitat Valenciana 03 Alicante/Alacant': 'Alicante',
    '10 Comunitat Valenciana 12 Castellón/Castelló': 'Castellón',
    '10 Comunitat Valenciana 46 Valencia/València': 'Valencia',
    '11 Extremadura 06 Badajoz': 'Badajoz',
    '11 Extremadura 10 Cáceres': 'Cáceres',
    '12 Galicia 15 Coruña, A': 'A Coruña',
    '12 Galicia 27 Lugo': 'Lugo',
    '12 Galicia 32 Ourense': 'Ourense',
    '12 Galicia 36 Pontevedra': 'Pontevedra',
    '13 Madrid, Comunidad de ': 'Madrid',
    '14 Murcia, Región de ': 'Murcia',
    '15 Navarra, Comunidad Foral de ': 'Navarra',
    '16 País Vasco 01 Araba/Álava': 'Álava',
    '16 País Vasco 48 Bizkaia': 'Bizkaia',
    '16 País Vasco 20 Gipuzkoa': 'Gipuzkoa',
    '17 Rioja, La ': 'La Rioja',
    '18 Ceuta ': 'Ceuta',
    '19 Melilla ': 'Melilla'
}

df17['Provincia'] = df17['Provincia'].map(mapeo_combinada)

In [42]:
# Crear un filtro para seleccionar filas donde "Provincia" es NaN
filtro = df17['Provincia'].isna()

# Aplicar el filtro para obtener solo las filas donde "Provincia" es NaN
df17_nan_provincia = df17.loc[filtro]

# Mostrar el resultado
df17_nan_provincia

Empty DataFrame
Columns: [Diagnóstico, Provincia, Sexo, Hospitalizaciones]
Index: []

In [44]:
df17 = df17.dropna()

In [46]:
df17.head(3)

,Diagnóstico,Provincia,Sexo,Hospitalizaciones
0,"0202 Neoplasias malignas de tráquea, bronquios...",Almería,Ambos sexos,3698
1,"0202 Neoplasias malignas de tráquea, bronquios...",Almería,Hombres,2928
2,"0202 Neoplasias malignas de tráquea, bronquios...",Almería,Mujeres,7700

In [48]:
# CREACIÓN DE OTRA COLUMNA PROVINCIA ID
columna_duplicada = df17['Provincia']
if 'ColumnaDuplicada' in df17.columns:
    df17.drop(columns=['ColumnaDuplicada'], inplace=True)
df17.insert(2, 'ColumnaDuplicada', columna_duplicada)

In [50]:
df17.rename(
    columns = {'ColumnaDuplicada': 'Provincia_ID'},
    inplace = True
)

In [52]:
mapeo_provincias = {
    "Álava": 1,
    "Albacete": 2,
    "Alicante": 3,
    "Almería": 4,
    "Ávila": 5,
    "Badajoz": 6,
    "Islas Baleares": 7,
    "Barcelona": 8,
    "Burgos": 9,
    "Cáceres": 10,
    "Cádiz": 11,
    "Castellón": 12,
    "Ciudad Real": 13,
    "Córdoba": 14,
    "A Coruña": 15,
    "Cuenca": 16,
    "Girona": 17,
    "Granada": 18,
    "Guadalajara": 19,
    "Gipuzkoa": 20,
    "Huelva": 21,
    "Huesca": 22,
    "Jaén": 23,
    "León": 24,
    "Lleida": 25,
    "La Rioja": 26,
    "Lugo": 27,
    "Madrid": 28,
    "Málaga": 29,
    "Murcia": 30,
    "Navarra": 31,
    "Ourense": 32,
    "Asturias": 33,
    "Palencia": 34,
    "Islas Canarias": [35, 38],
    "Pontevedra": 36,
    "Salamanca": 37,
    "Cantabria": 39,
    "Segovia": 40,
    "Sevilla": 41,
    "Soria": 42,
    "Tarragona": 43,
    "Teruel": 44,
    "Toledo": 45,
    "Valencia": 46,
    "Valladolid": 47,
    "Bizkaia": 48,
    "Zamora": 49,
    "Zaragoza": 50,
    "Ceuta": 51,
    "Melilla": 52
}

df17['Provincia_ID'] = df17['Provincia_ID'].map(mapeo_provincias)

In [54]:
df17.head()

,Diagnóstico,Provincia,Provincia_ID,Sexo,Hospitalizaciones
0,"0202 Neoplasias malignas de tráquea, bronquios...",Almería,4,Ambos sexos,3698
1,"0202 Neoplasias malignas de tráquea, bronquios...",Almería,4,Hombres,2928
2,"0202 Neoplasias malignas de tráquea, bronquios...",Almería,4,Mujeres,7700
3,"0202 Neoplasias malignas de tráquea, bronquios...",Cádiz,11,Ambos sexos,7232
4,"0202 Neoplasias malignas de tráquea, bronquios...",Cádiz,11,Hombres,5545

In [56]:
df17['Provincia_ID'].isna().sum()

0

In [58]:
df17['Diagnóstico'].unique()

array(['0202 Neoplasias malignas de tráquea, bronquios y pulmón C33-C34',
       '0905 Enfermedad pulmonar cardíaca y enfermedades de la circulación pulmonar I26-I28',
       '1001 Infecciones agudas de las vías respiratorias superiores y gripe J00-J11',
       '1002 Neumonía J12-J18',
       '1003 Otras infecciones agudas de las vias respiratorias inferiores J20-J22',
       '1004 Enfermedad crónica de amígdalas y adenoides J35',
       '1005 Otras enfermedades del tracto respiratorio superior J30-J34, J36-J39',
       '1006 Enfermedad pulmonar obstructiva crónica y bronquiectasias J40-J44, J47',
       '1007 Asma J45',
       '1008 Otras enfermedades del aparato respiratorio J60-J99'],
      dtype=object)

In [61]:
mapeo_diagnostico = {
    '0202 Neoplasias malignas de tráquea, bronquios y pulmón C33-C34': 'Neoplasia maligna de tráquea, bronquios y pulmón',
    '0905 Enfermedad pulmonar cardíaca y enfermedades de la circulación pulmonar I26-I28': 'Enfermedades de la circulación pulmonar',
    '1001 Infecciones agudas de las vías respiratorias superiores y gripe J00-J11': 'Infecciones/enfermedades de las vías respiratorias superiores y gripe',
    '1002 Neumonía J12-J18': 'Neumonía',
    '1003 Otras infecciones agudas de las vias respiratorias inferiores J20-J22': 'Otras infecciones de las vias respiratorias inferiores',
    '1004 Enfermedad crónica de amígdalas y adenoides J35': 'Enfermedad crónica de amígdalas',
    '1005 Otras enfermedades del tracto respiratorio superior J30-J34, J36-J39': 'Infecciones/enfermedades de las vías respiratorias superiores y gripe',
    '1006 Enfermedad pulmonar obstructiva crónica y bronquiectasias J40-J44, J47': 'EPOC y bronquitis',
    '1007 Asma J45': 'Asma',
    '1008 Otras enfermedades del aparato respiratorio J60-J99': 'Neumoconiosis, enfermedades pulmonares por agentes externos y otras'
}

df17['Diagnóstico'] = df17['Diagnóstico'].map(mapeo_diagnostico)

In [64]:
df17.insert(0, 'Año', 2017)

In [66]:
df17

,Año,Diagnóstico,Provincia,Provincia_ID,Sexo,Hospitalizaciones
0,2017,"Neoplasia maligna de tráquea, bronquios y pulmón",Almería,4,Ambos sexos,3698
1,2017,"Neoplasia maligna de tráquea, bronquios y pulmón",Almería,4,Hombres,2928
2,2017,"Neoplasia maligna de tráquea, bronquios y pulmón",Almería,4,Mujeres,7700
3,2017,"Neoplasia maligna de tráquea, bronquios y pulmón",Cádiz,11,Ambos sexos,7232
4,2017,"Neoplasia maligna de tráquea, bronquios y pulmón",Cádiz,11,Hombres,5545
...,...,...,...,...,...,...
1555,2017,"Neumoconiosis, enfermedades pulmonares por age...",Ceuta,51,Hombres,4890
1556,2017,"Neumoconiosis, enfermedades pulmonares por age...",Ceuta,51,Mujeres,5100
1557,2017,"Neumoconiosis, enfermedades pulmonares por age...",Melilla,52,Ambos sexos,2341
1558,2017,"Neumoconiosis, enfermedades pulmonares por age...",Melilla,52,Hombres,1192
1559,2017,"Neumoconiosis, enfermedades pulmonares por age...",Melilla,52,Mujeres,1149

In [68]:
columna_duplicada = df17['Diagnóstico']
if 'ColumnaDuplicada' in df17.columns:
    df17.drop(columns=['ColumnaDuplicada'], inplace=True)
df17.insert(2, 'ColumnaDuplicada', columna_duplicada)

In [70]:
df17.rename(
    columns = 
    {'ColumnaDuplicada': 'Diagnóstico_ID'
},
inplace = True)

In [72]:
df17['Diagnóstico_ID'].unique()

array(['Neoplasia maligna de tráquea, bronquios y pulmón',
       'Enfermedades de la circulación pulmonar',
       'Infecciones/enfermedades de las vías respiratorias superiores y gripe',
       'Neumonía',
       'Otras infecciones de las vias respiratorias inferiores',
       'Enfermedad crónica de amígdalas', 'EPOC y bronquitis', 'Asma',
       'Neumoconiosis, enfermedades pulmonares por agentes externos y otras'],
      dtype=object)

In [75]:
mapeo_diagnostico = {
    'Neoplasia maligna de tráquea, bronquios y pulmón': 1,
    'Enfermedades de la circulación pulmonar':2,
    'Enfermedad crónica de amígdalas': 3,
    'Neumonía': 4,
    'Asma': 5,
    'EPOC y bronquitis': 6,
    'Infecciones/enfermedades de las vías respiratorias superiores y gripe': 7,
    'Otras infecciones de las vias respiratorias inferiores': 8,
    'Neumoconiosis, enfermedades pulmonares por agentes externos y otras': 9,
}

df17['Diagnóstico_ID'] = df17['Diagnóstico_ID'].map(mapeo_diagnostico)

In [79]:
df17 = df17[df17['Sexo'] != 'Ambos sexos']

In [81]:
df17 = df17.reset_index()

In [84]:
df17.drop('index', axis=1, inplace=True)

In [87]:
df17

,Año,Diagnóstico,Diagnóstico_ID,Provincia,Provincia_ID,Sexo,Hospitalizaciones
0,2017,"Neoplasia maligna de tráquea, bronquios y pulmón",1,Almería,4,Hombres,2928
1,2017,"Neoplasia maligna de tráquea, bronquios y pulmón",1,Almería,4,Mujeres,7700
2,2017,"Neoplasia maligna de tráquea, bronquios y pulmón",1,Cádiz,11,Hombres,5545
3,2017,"Neoplasia maligna de tráquea, bronquios y pulmón",1,Cádiz,11,Mujeres,1688
4,2017,"Neoplasia maligna de tráquea, bronquios y pulmón",1,Córdoba,14,Hombres,3029
...,...,...,...,...,...,...,...
1035,2017,"Neumoconiosis, enfermedades pulmonares por age...",9,La Rioja,26,Mujeres,4346
1036,2017,"Neumoconiosis, enfermedades pulmonares por age...",9,Ceuta,51,Hombres,4890
1037,2017,"Neumoconiosis, enfermedades pulmonares por age...",9,Ceuta,51,Mujeres,5100
1038,2017,"Neumoconiosis, enfermedades pulmonares por age...",9,Melilla,52,Hombres,1192
1039,2017,"Neumoconiosis, enfermedades pulmonares por age...",9,Melilla,52,Mujeres,1149

In [89]:
df17.to_csv("df17.csv", index=False, encoding="iso-8859-1")